<mat-grid-list class="wrapper" cols="7" rowHeight="2:1">
    <mat-grid-tile>
        <div class="icon">
            <mat-icon *ngIf="type == 'decollages'">flight_takeoff</mat-icon>
            <mat-icon *ngIf="type == 'atterrissages'">flight_land</mat-icon>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>{{ vol.icao | uppercase }}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>{{ vol.matricule | uppercase }}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p *ngIf="vol.aeroportDepart">{{ vol.aeroportDepart }}</p>
        <p *ngIf="vol.aeroportDepart == null">Inconnu</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="fleche">
            <mat-icon>arrow_right_alt</mat-icon>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <p *ngIf="vol.aeroportArrivee">{{ vol.aeroportArrivee }}</p>
        <p *ngIf="vol.aeroportArrivee == null">Inconnu</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <img width="110px" height="30px" src="../../../assets/{{vol.compagnie}}.png">
    </mat-grid-tile>
</mat-grid-list>
