
.wrapper {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.wrapper:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}