<!-- Affichage d'un passager -->
<mat-grid-list class="wrapper" *ngIf="photos" cols="4" rowHeight="2:1">
    <mat-grid-tile *ngIf="photos">
        <img *ngIf="photos" src="{{ passager.image }}"/>
    </mat-grid-tile>
    <mat-grid-tile>
        <p matTooltip={{passager.email}}>{{ passager.nom }}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <div [appClasseVol]="passager.classeVol">{{ passager.classeVol }}</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="icon" [bagagesClasse]="{classeVol: passager.classeVol, nbBagSoute: passager.nbBagSoute}">
            <mat-icon matBadge="{{passager.nbBagSoute}}" matBadgeColor="primary">work</mat-icon>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list class="wrapper" *ngIf="!photos" cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <p matTooltip={{passager.email}}>{{ passager.nom }}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <div [appClasseVol]="passager.classeVol">{{ passager.classeVol }}</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="icon" [bagagesClasse]="{classeVol: passager.classeVol, nbBagSoute: passager.nbBagSoute}">
            <mat-icon matBadge="{{passager.nbBagSoute}}" matBadgeColor="primary">work</mat-icon>
        </div>
    </mat-grid-tile>
</mat-grid-list>