@import '../../../styles';

.filtres-container {
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);

  background-color: white;

  mat-form-field {
    width: 35%;

    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }
  }

  .apply-button {
    background-color: $accent;
    color: white;
  }
}

.apply-button {
  display: inline-block;
  position: relative;
  border: 0;
  background: white;
  padding: 1.25em 1.5em;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  transform-style: preserve-3d;
  transition: transform 0.3s cubic-bezier(0,0,0.58,1),
    background 0.3s cubic-bezier(0,0,0.58,1);
  cursor: pointer;
}
.apply-button:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: inherit;
  transform: translate3d(0, 0.5em, -1em);
  transition: transform 0.3s cubic-bezier(0,0,0.58,1);
}
.apply-button:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  border-radius: inherit;
  top: 0;
  left: 0;
  transform: translate3d(0, .7em, -1em);
  transition: transform 0.3s cubic-bezier(0,0,0.58,1);
}
.apply-button:hover {
  transform: translateY(-0.25em);
}
.apply-button:hover:before {
  transform: translate3d(0, 0.75em, -1em);
}
.apply-button:hover:after {
  transform: translate3d(0, 1.05em, -1em);
}
.apply-button:active {
  transform: translate(0, 0.5em);
}
.apply-button:active:before,
.apply-button:active:after {
  transform: translate3d(0,0,-1em);
}


