<mat-grid-list *ngIf="vols.length != 0" class="wrapper" cols="7" rowHeight="2:1">
    <mat-grid-tile>
        <h1>Icone</h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <h1>Icao</h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <h1>Matricule</h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <h1>Depart</h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <h1></h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <h1>Arrivée</h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <h1>Compagnie</h1>
    </mat-grid-tile>
</mat-grid-list>

<div *ngFor="let vol of vols">
    <app-vol [type]="type" [vol]="vol" (click)="choixVol(vol)"></app-vol>
</div>